*.iws
*Db.properties
*Db.script
.settings
eclipse
stacktrace.log
target
/plugins
/ughub/web-app/plugins
/ughub/web-app/WEB-INF/
.class
/ughub/target-eclipse
.classpath
.project
caldecott.log
.metadata
Servers/
